.password-generator {
  width: 45vw;
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.35rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .left-side {
    width: 145%;
  }

  .right-side {
    width: 65%;
    display: flex;
    justify-content: center;
  }
}
