<div class="container">
  <div class="password-generator">
    <app-password-display [password]="password"></app-password-display>
    <div style="width: 100%;display: flex;align-items: center;">
      <div class="left-side">
        <app-password-slider [(options)]="passwordOptions"></app-password-slider>
        <app-password-actions (generate)="generatePassword()" (copy)="copyPassword()"></app-password-actions>
      </div>
      <div class="right-side">
        <app-password-options [(options)]="passwordOptions"></app-password-options>
      </div>
    </div>
  </div>
  <app-password-history></app-password-history>
</div>
