@import '../../../styles.scss';

.password-actions {
  display: flex;

  button {
    width: 100%;
    margin: 1rem 0.25rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: $bee-black;
    background-color: $bee-yellow;
    border: none;
    border-radius: 0.35rem;
    cursor: pointer;

    &:hover {
      &:not(:disabled) {
        color: $bee-yellow;
        background-color: $bee-black;
      }
    }

    &:disabled {
      cursor: not-allowed;
      color: $bee-black;
      background-color: lighten($bee-yellow, 20%);
      opacity: 0.6;
    }
  }
}
