@import '../../../styles.scss';

.password-actions {
  button {
      margin: 1rem 0.25rem;
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: bold;
      color: $bee-black;
      background-color: $bee-yellow;
      border: none;
      cursor: pointer;

      &:hover {
          color: $bee-yellow;
          background-color: $bee-black;
      }
  }
}
