@import '../../../styles.scss';

.password-history {
  width: 45vw;
  max-width: 25rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.35rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  .title {
    padding: 0.5rem;
    background-color: $bee-yellow;
    border-radius: 0.35rem 0.35rem 0 0;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .content {
    padding: 0.5rem;
    height: 12rem;
    overflow-y: scroll;
  }
}
