<div class="password-options">
  <label>
    <input type="checkbox" [(ngModel)]="options.includeUppercase" (ngModelChange)="onOptionsChange()" />
    <div class="custom-checkbox"></div>
    Uppercase
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="options.includeLowercase" (ngModelChange)="onOptionsChange()" />
    <div class="custom-checkbox"></div>
    Lowercase
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="options.includeNumbers" (ngModelChange)="onOptionsChange()" />
    <div class="custom-checkbox"></div>
    Numbers
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="options.includeSpecialChars" (ngModelChange)="onOptionsChange()" />
    <div class="custom-checkbox"></div>
    Special Characters
  </label>
</div>
