@import '../../../styles.scss';

.password-display {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: $bee-black;
  background-color: #f7f7f7;
  border-radius: 0.35rem;
}
